{% extends "base.html" %}
{% block content %}
  <h1>Login</h1>
  <p>Fill the form below to complete your registration:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      <p>{{ form.username.label }} {{ form.username() }}</p>
      {% for error in form.username.errors %}
      <span>{{error}}</span>
      {% endfor %}
      <p>{{ form.password.label }} {{form.password()}}</p>
      {% for error in form.password.errors %}
      <span>{{error}}</span>
      {% endfor %}
      <p>{{ form.login() }}</p>
  </form>

{% endblock %}