{% extends "base.html" %}
{% block content %}
<h1>{{post.title}}</h1>
<h1></h1>

<h5>Content: </h5>
<p>{{post.body}}</p>

<p>Created at {{post.timestamp}} by <a href="{{url_for('profile', id=user.id)}}">{{user.username}}</a></p>
<p>{{num_likes}} Like(s) {{num_dislikes}} Dislike(s) {{num_comments}} Comment(s)</p>
{% if current_user.is_authenticated and user != current_user%}
<p>
{% if not current_user.is_like(post) %}
<a href="{{url_for('like_post', id=post.id)}}">Like</a>
{% else %}
<a href="{{url_for('unlike_post', id=post.id)}}">Unlike</a>
{% endif %}
{% if not current_user.is_dislike(post) %}
<a href="{{url_for('dislike_post', id=post.id)}}">Dislike</a>
{% else %}
<a href="{{url_for('undislike_post', id=post.id)}}">Undislike</a>
{% endif %}
</p>
{% endif %}

{%if user == current_user%}
<p><a href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a> <a href="{{url_for('delete_post', post_id=post.id)}}">Delete Post</a></p>
{%endif%}

{% if current_user.is_authenticated %}
<h5>Add your comment here:</h5>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.body.label }} : {{ form.body() }}</p>
    <p>{{ form.submit() }}</p>
</form>
{%endif%}

<h3>Comments</h3>
<ol>
{% for comment in comments %}
<li>
<p><a href="{{url_for('profile', id=all_user.get(comment.user_id).id)}}">{{all_user.get(comment.user_id).username}}</a> said: </p>
<p>{{comment.body}}</p>
<p>Posted at {{comment.timestamp}}</p>
<p>{{len(list(comment.likers))}} Like(s) {{len(list(comment.dislikers))}} Dislike(s)</p>
{% if not current_user.is_like_comment(comment) %}
<a href="{{url_for('like_comment', id=comment.id)}}">Like</a>
{% else %}
<a href="{{url_for('unlike_comment', id=comment.id)}}">Unlike</a>
{% endif %}
{% if not current_user.is_dislike_comment(comment) %}
<a href="{{url_for('dislike_comment', id=comment.id)}}">Dislike</a>
{% else %}
<a href="{{url_for('undislike_comment', id=comment.id)}}">Undislike</a>
{% endif %}
</li>
{% endfor %}
</ol>
{% endblock %}

